{{- if hasKey .Values "ingress" }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: traefik
    traefik.ingress.kubernetes.io/frontend-entry-points: http,https
    traefik.ingress.kubernetes.io/redirect-entry-point: https
    traefik.ingress.kubernetes.io/redirect-permanent: "true"
    traefik.ingress.kubernetes.io/custom-response-headers: "Access-Control-Allow-Origin:*||Access-Control-Allow-Methods:GET,POST,OPTIONS||Access-Control-Allow-Headers:DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range||Access-Control-Expose-Headers:Content-Length,Content-Range"
    {{- if .Values.ingress.httpsRedirect }}
        traefik.ingress.kubernetes.io/router.middlewares: "{{ .Values.namespace }}-redirect-to-https@kubernetescrd"
    {{- end }}
  name: {{ .Values.ingress.name }}
  namespace: {{ .Values.namespace }}
spec:
  rules:
  {{- range $ingressKey, $ingressValue := .Values.ingress.rules }}
  - host: {{ $ingressValue.subdomain }}.{{ $.Values.hostname }}
    http:
      paths:
      {{- range $pathKey, $pathValue := $ingressValue.paths }}
        - path: /
          pathType: Prefix
          backend:
            service:
              name: {{ index $.Values.names $pathValue.podName }}-{{ $pathValue.serviceName }}
              port:
                number: {{ (index (index $.Values.services $pathValue.podName) $pathValue.serviceName).ports.main.port }}
      {{- end }}
  {{- end }}
  tls:
  {{- range $ingressKey, $ingressValue := .Values.ingress.rules }}
  - hosts:
      - {{ $ingressValue.subdomain }}.{{ $.Values.hostname }}
    secretName: {{ $.Values.secrets.ssl.name }}
  {{- end }}
{{- end }}
