{{- if hasKey .Values "services" }}
{{- range $podKey, $podData := .Values.services }}
{{- range $serviceKey, $serviceData := $podData }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ index $.Values.names $podKey }}-{{ $serviceKey }}
  namespace: {{ $.Values.namespace }}
spec:
  selector:
    app: {{ index $.Values.names $podKey }}
  ports:
    {{ range $portsKey, $portsValue := $serviceData.ports }}
    - protocol: {{ $portsValue.protocol }}
      port: {{ $portsValue.port }}
      targetPort: {{ $portsValue.targetPort }}
      {{- if hasKey $portsValue "name" }}
      name: {{ $portsValue.name }}
      {{- end }}
      {{- if hasKey $portsValue "nodePort" }}
      nodePort: {{ $portsValue.nodePort }}
      {{- end }}
    {{- end }}
  type: {{ $serviceData.type }}
{{- end }}
{{- end }}
{{- end }}
